In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('insurance.csv')
df

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [3]:
df.shape

(1338, 7)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
df.describe(include='all')

,age,sex,bmi,children,smoker,region,expenses
count,1338.000000,1338,1338.000000,1338.000000,1338,1338,1338.000000
unique,NaN,2,NaN,NaN,2,4,NaN
top,NaN,male,NaN,NaN,no,southeast,NaN
freq,NaN,676,NaN,NaN,1064,364,NaN
mean,39.207025,NaN,30.665471,1.094918,NaN,NaN,13270.422414
std,14.049960,NaN,6.098382,1.205493,NaN,NaN,12110.011240
min,18.000000,NaN,16.000000,0.000000,NaN,NaN,1121.870000
25%,27.000000,NaN,26.300000,0.000000,NaN,NaN,4740.287500
50%,39.000000,NaN,30.400000,1.000000,NaN,NaN,9382.030000
75%,51.000000,NaN,34.700000,2.000000,NaN,NaN,16639.915000
max,64.000000,NaN,53.100000,5.000000,NaN,NaN,63770.430000

In [6]:
df.drop_duplicates()

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1337 rows x 7 columns]

In [7]:
df.shape

(1338, 7)

In [8]:
df.sex.unique()

array(['female', 'male'], dtype=object)

In [9]:
df['sex'] = df.sex.map({'female':1, 'male':0})

In [10]:
df['smoker'] = df.smoker.map({'yes':1, 'no':0})

In [11]:
df

      age  sex   bmi  children  smoker     region  expenses
0      19    1  27.9         0       1  southwest  16884.92
1      18    0  33.8         1       0  southeast   1725.55
2      28    0  33.0         3       0  southeast   4449.46
3      33    0  22.7         0       0  northwest  21984.47
4      32    0  28.9         0       0  northwest   3866.86
...   ...  ...   ...       ...     ...        ...       ...
1333   50    0  31.0         3       0  northwest  10600.55
1334   18    1  31.9         0       0  northeast   2205.98
1335   18    1  36.9         0       0  southeast   1629.83
1336   21    1  25.8         0       0  southwest   2007.95
1337   61    1  29.1         0       1  northwest  29141.36

[1338 rows x 7 columns]

In [12]:
df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [13]:
df['region'] = df.region.map({'southwest':1, 'southeast':2, 'northwest':3, 'northeast':4})

In [14]:
df

      age  sex   bmi  children  smoker  region  expenses
0      19    1  27.9         0       1       1  16884.92
1      18    0  33.8         1       0       2   1725.55
2      28    0  33.0         3       0       2   4449.46
3      33    0  22.7         0       0       3  21984.47
4      32    0  28.9         0       0       3   3866.86
...   ...  ...   ...       ...     ...     ...       ...
1333   50    0  31.0         3       0       3  10600.55
1334   18    1  31.9         0       0       4   2205.98
1335   18    1  36.9         0       0       2   1629.83
1336   21    1  25.8         0       0       1   2007.95
1337   61    1  29.1         0       1       3  29141.36

[1338 rows x 7 columns]

In [15]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [16]:
X

      age  sex   bmi  children  smoker  region
0      19    1  27.9         0       1       1
1      18    0  33.8         1       0       2
2      28    0  33.0         3       0       2
3      33    0  22.7         0       0       3
4      32    0  28.9         0       0       3
...   ...  ...   ...       ...     ...     ...
1333   50    0  31.0         3       0       3
1334   18    1  31.9         0       0       4
1335   18    1  36.9         0       0       2
1336   21    1  25.8         0       0       1
1337   61    1  29.1         0       1       3

[1338 rows x 6 columns]

In [17]:
y

0       16884.92
1        1725.55
2        4449.46
3       21984.47
4        3866.86
          ...
1333    10600.55
1334     2205.98
1335     1629.83
1336     2007.95
1337    29141.36
Name: expenses, Length: 1338, dtype: float64

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
lr = LinearRegression()

In [22]:
lr.fit(X_train,y_train)

LinearRegression()

In [23]:
y_pred = lr.predict(X_test)

In [24]:
from sklearn.metrics import r2_score

In [25]:
r2_score(y_test,y_pred)

0.7833214205203847

In [26]:
from sklearn.ensemble import RandomForestRegressor

In [27]:
rf = RandomForestRegressor()

In [28]:
rf.fit(X_train,y_train)

RandomForestRegressor()

In [29]:
y_pred2 = rf.predict(X_test)

In [30]:
r2_score(y_test,y_pred2)

0.8663666063230924

In [31]:
data = {
    'age':40,
    'sex':1,
    'bmi':40,
    'children':3,
    'smoker':1,
    'region':2
}
new_df = pd.DataFrame(data,index=[0])
new_df

   age  sex  bmi  children  smoker  region
0   40    1   40         3       1       2

In [32]:
pred = rf.predict(new_df)
pred[0]

42715.63430000004

In [33]:
import joblib
joblib.dump(rf,'random_forrest_regressor')

['random_forrest_regressor']